@using AddressBook_Multi.Areas.State.Models
@{
    ViewData["Title"] = "State Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddressBook_Multi.Areas.State.Models.StateModel;

<section class="vh-100 bg-image"
         style="background-image: url('https://wallpaperaccess.com/full/1134824.png');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">ADD DATA</h2>
                            <h5 class="text-uppercase text-center mb-5" style="background: linear-gradient(to bottom, #ff99ff 0%, #9966ff 100%)">@TempData["Msg"]</h5>

                            <form method="post" asp-area="State" asp-controller="State" asp-action="Save">
                                @Html.HiddenFor(x=>x.StateID)
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg"><span class="text-danger">*</span><strong>State Name</strong></label>
                                    <input type="text" asp-for="StateName" id="form3Example1cg" class="form-control form-control-lg" />
                                    <span asp-validation-for="StateName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg"><span class="text-danger">*</span><strong>State Code</strong></label>
                                    <input type="text" asp-for="StateCode" id="form3Example3cg" class="form-control form-control-lg" />
                                    <span asp-validation-for="StateCode" class="text-danger"></span>
                                </div>

                                @*<div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg"><strong>Photo Path</strong></label>
                                    <input type="file" asp-for="File" id="form3Example3cg" class="form-control form-control-lg" />
                                </div>*@

                                @if (ViewBag.CountryList != null)
                                {
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg"><span class="text-danger">*</span><strong>Country</strong></label>
                                        <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList, "CountryID", "CountryName").ToList())" id="form3Example3cg" class="form-control form-control-lg">
                                            <option>Select Country</option>
                                        </select>
                                        <span asp-validation-for="CountryID" class="text-danger"></span>
                                    </div>
                                }

                                

                                <div class="d-flex ">
                                    <div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="mx-3">
                                        <a asp-area="State" asp-controller="State" asp-action="Index" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

